@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.hero{
    width: 100%;
    height: 89.3vh;
    position: relative;
    background: url('../assets/cassio-jardim-Efd5oh-nQWI-unsplash.jpg');
    background-size: cover;
    background-position: 0em -5em;
}

.hero::before{
    position: absolute;
    content: '';
    left: 0;
    right:0;
    top:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.5);
}

.hero-container{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.hero-container-left{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-container-right{
    width: 24%;
    height: 100%;
    display: flex;
    align-items: center;
}
.container-left{
    display: flex;
    flex-direction: column;
    margin-top: -4em;
}

.container-left span:nth-of-type(1),.container-left span:nth-of-type(2){
    font-size: 4rem;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
}

.container-left span:nth-of-type(2){
    font-size: 2rem;
}

.container-left p{
    margin-top: 1em;
    font-size: 1rem;
    color:#ffffff;
    font-family: 'Roboto', sans-serif;
}
